@tailwind base;
@tailwind components;
@tailwind utilities;

.Full-bg {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.Full-bg h1 {
  font-size: 50px;
}
.Full-bg .buttons {
  position: absolute;
  bottom: 00;
}
.Full-bg .buttons button:nth-child(1) {
  background-color: gray;
  color: white;
}
.Full-bg .buttons button:nth-child(2) {
  background-color: red;
  color: white;
}
.Full-bg .buttons button:nth-child(3) {
  background-color: orange;
}
.Full-bg .buttons button:nth-child(4) {
  background-color: blue;
  color: white;
}
.Full-bg .buttons button:nth-child(5) {
  background-color: greenyellow;
}
.Full-bg .buttons button:nth-child(6) {
  background-color: pink;
}
.Full-bg .buttons button {
  padding: 10px 20px;
  border-radius: 30px;
}
